#footer{
	position: fixed;
	bottom: 10px;
}
#header{
	text-align: center;
}
.assignments{
	padding: 0px;
	display: flex;
	flex-direction: column;
	list-style: none;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.assignments li ul li{
	border: solid 1px black;
	text-align: center;
	position: relative;
	bottom: 10px;
}

#row1{
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: row;
}
#row1 li{
	padding: 10px;
	flex-grow: 1;
}
#row1 li a{
	text-decoration: none;
}
#row1 li a:hover{
	color: blue;
}
#row1 li:hover{
	background-color: gray;
}

#row2{
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: row;
}
#row2 li{
	padding: 10px;
	flex-grow:1;
}
#row2 li a{
	text-decoration: none;
}
#row2 li a:hover{
	color: blue;
}
#row2 li:hover{
	background-color: gray;
}


#row3{
	padding: 0px;
	list-style: none;
	display: flex;
	flex-direction: row;
}
#row3 li{
	padding: 10px;
	flex-grow:1;
}
#row3 li a{
	text-decoration: none;
}
#row3 li a:hover{
	color: blue;
}
#row3 li:hover{
	background-color: gray;
}

